<div id="accordion" class="panel-group">
  <% @ev.each do |date, datetime| %>
    <h2><%= date.to_date.strftime("%a %m/%d") %></h2>
    <% datetime.each do |datetime, events| %>
      <div class="media-list">
        <h6>
          <% if(datetime.first.strftime("%H:%M") == datetime.second.strftime("%H:%M")) %>
            --
          <% else %>
            <%= datetime.first.strftime("%I:%M %p")%> - <%=datetime.second.strftime("%I:%M %p") %>
          <% end %>
        </h6>
        <% events.each do |e| %>
          <li class="media">
            <% if e.attach %>
              <% #URI.unescape(e.attach.first.to_s) %>
              <a class="pull-left" href="#">
                <img style="width:150px;" src="<%= URI.unescape(e.attach.first.to_s) %>"></img>
              </a>
            <% end %>
            <div class="media-body">
              <div class="media-heading">
                <span style="display: block;font-size: 14px;line-height: 14px;">
                  <%= link_to e.calendar.name, calendar_path(e.calendar.name) %>
                </span>
                <h5 style="margin-top:5px"><%= e.summary %></h5>
              </div>
              <%= e.description %>
              <p>Tags:
                <% e.tags.each_with_index do |t, i| %>
                  <span class="label label-primary"><%= link_to t.name, tag_path(t.name), class:"label-tag" %></span>
                  <%= ',' if i+1 != e.tags.length %>
                <% end %>
              </p>
              <p><%= e.dtstart.to_time.strftime("%l:%M %p") %>-<%=e.dtend.to_time.strftime("%l:%M %p") %>; <%= e.location %></p>
              <%= fb_tag e.id %>
            </div>
          </li>
        <%end %>
      </div>
    <% end %>
  <% end %>
</div>
