<div id="accordion" class="panel-group">
  <% @ev.each do |date, datetime| %>
    <h><%= date.to_date.strftime("%a %m/%d") %></h2>
    <% datetime.each do |datetime, events| %>
      <div class="">
        <div class="date-row row">
          <div class="col-xs-2">
            <p>
              <% if(datetime.first.strftime("%H:%M") == datetime.second.strftime("%H:%M")) %>
                --
              <% else %>
                <%= datetime.first.strftime("%I:%M %p")%> - <%=datetime.second.strftime("%I:%M %p") %>
              <% end %>
            </p>
          </div>
          <div class="col-xs-10">
            <% events.each do |e| %>
              <div class="col-md-6 col-sm-6">
                <div class="panel panel-primary">
                  <div class="event-heading panel-heading"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#event-<%= e.id %>">
                    <p class="event-title panel-title">
                      <%= link_to e.summary, event_path(e.id) %> <span class="calendar-title pull-right"><%= e.calendar.name %></span>
                    </p>
                  </div>
                  <div id="event-<%= e.id %>" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <% #URI.unescape(e.attach.first.to_s) %>
                      <a class="pull-left" style="margin-right: 10px;" href="#">
                        <img style="max-width:150px;min-height:150px;" src="<%= URI.unescape(e.attach.first.to_s) %>"></img>
                      </a>
                      <p><%= link_to e.calendar.name, calendar_path(e.calendar.name) %></p>
                      <%= e.description %>
                      <p>Tags:
                        <% e.tags.each_with_index do |t, i| %>
                          <span class="label label-primary"><%= link_to t.name, tag_path(t.name), class:"label-tag" %></span>
                          <%= ',' if i+1 != e.tags.length %>
                        <% end %>
                      </p>
                      <p><%= e.dtstart.strftime("%l:%M %p") %>-<%=e.dtend.strftime("%l:%M %p") %>; <%= e.location %></p>
                      <%= fb_tag e.id %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
