<style>
.collapsible-table td{
  border-top:none !important;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
</style>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <td class="col-md-2">#</td>
      <td class="col-md-5">Event</td>
      <td class="col-md-5">Calendar</td>
    </tr>
  </thead>
  <tbody>
    <% @ev.each do |date, datetime| %>
      <tr class="active">
        <td><b><%= date.to_date.strftime("%a %m/%d") %></b></td>
        <td></td>
        <td></td>
      </tr>
      <% datetime.each do |datetime, events| %>
        <% events.each do |e| %>
          <% event_data_slug = "event-data-" + e.id.to_s %>
          <tr class="unselectable"
              onclick="$('#event-data-<%= e.id %>').css('display', function () { return ($('#event-data-<%= e.id %>').css('display')=='table-row') ? 'none':'';})">
            <td>
              <% if(e.dtstart.to_time.strftime("%H:%M") == e.dtend.to_time.strftime("%H:%M")) %>
                --
              <% else %>
                <%= e.dtstart.to_time.strftime("%I:%M %p") %> - <%= e.dtend.to_time.strftime("%I:%M %p") %>
              <% end %>
            </td>
            <td>
              <%= link_to e.summary, event_path(e.id) %>
            </td>
            <td><%= link_to e.calendar.name, request.parameters.merge({calendar:1}) %></td>
          </tr>
          <tr id="event-data-<%= e.id %>" class="collapsible-table" style="display:none">
            <td class="col-md-2">
              <%= fb_tag e.id %><br>
              <%= twitter_tag %><br>
              <a type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-calendar"></span>|Copy to my Calendar
              </a><br>
              <% if !e.attach.blank? %>
                <a class="pull-left" style="margin-right: 10px;" href="#">
                  <img style="max-width:150px;min-height:150px;" src="<%= cloudinary_url(e.attach.first.to_s) %>"></img>
                </a>
              <% end %>
            </td>
            <td class="col-md-5">
              <% if not e.description.blank? %>
                <p><b>What:</b><%= e.description %></p>
              <% end %>
              <p>
                <b>When:</b><%= e.time %>
              </p>
              <% if not e.location.blank? %>
                <p><b>Where:</b><%= e.location %></p>
              <% end %>
            </td>
            <td class="col-md-5"><p>Tags:
              <% e.tags.each_with_index do |t, i| %>
                <span class="label label-primary"><%= link_to t.name, request.parameters.merge({tag:t.id}), class:"label-tag" %></span>
                <%= ',' if i+1 != e.tags.length %>
              <% end %>
            </p>
            </td></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
