<style>
  body{
    background-color:#F9F9F9;
  }
  #main {
    width: 100%;
    margin:auto;
  }
  .event-heading {
    cursor:pointer;
  }
  .label-tag{
    color:white;
  }
  .date-row{
    padding-bottom:10px;
  }
  .calendar-title{
  }
</style>
<h1><%= @title %></h1>
<div id="main">
  <% last_date = Date.civil(1996) %>
  <!--
    Logic Here is Wrong!
    If you have 3 items, it will row-ify the middle
    self.location=
  -->
  <div class="row">
    <div class="col-xs-6 col-md-8">
      <select id="select" class="form-control"
        onchange="self.location=this.options[this.selectedIndex].value">
        <option>Calendar</option>
        <% Calendar.all.each do |c| %>
          <option value="<%= calendar_path(c.name) %>"><%= c.name %></option>
        <% end %>
      </select>
    </div>
    <div class="col-xs-6 col-md-4">
      <select id="select" class="form-control"
        onchange="self.location=this.options[this.selectedIndex].value">
        <option>Tags</option>
        <% @tags.each do |t| %>
          <option value="<%= tag_path(t.name) %>"><%= t.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <%=  %>
  <% if true %>
  <%end%>
</div>
<script>
$('.collapse').collapse()
</script>
