<h3><%= @ev.summary %>
  <%= link_to @ev.calendar.name, root_path(calendar:1) %>
</h3>
<div style="width:90%;margin:0 auto">
  <p>
    <span class="glyphicon glyphicon-time"></span><%= @ev.time %>
    <% if !@ev.location.blank? %>
      <span class="glyphicon glyphicon-map-marker"></span><%= @ev.location %>
    <% end %>
      <%= fb_tag @ev.id %>
      <%= twitter_tag %>
  </p>
  <p style="margin:0px;"><%= @ev.description %></p>
  <p>Tags:
    <% @ev.tags.each_with_index do |t, i| %>
      <span class="label label-primary"><%= link_to t.name, root_path({tag:t.id}), class:"label-tag" %></span>
      <%= ',' if i+1 != @ev.tags.length %>
    <% end %>
  </p>
  <div class="row">
    <% if !@ev.attach.blank? %>
    <% @ev.attach.each_with_index do |a, i| %>
      <div class="col-xs-6 col-md-4">
        <a href="<%= cloudinary_url(a, width:300) %>" data-type="image"
          data-toggle="lightbox" data-gallery="pubmats">
          <%= cl_image_tag(a, width: 300, alt: "Event PubMat", class:"pubmats img-responsive") %>
        </a>
          <a href="#" onclick="eventAttachmentDelete(<%=@ev.id%>,<%=i%>)"><span class="glyphicon glyphicon-remove"></span>Delete</a>
      </div>
    <% end %>
    <% end %>
  </div>

    <h5>Pubmat Form</h5>
    <%= form_for :event, html:{class:"form-inline"} do |event_form| %>
      <%= event_form.hidden_field(:image_cache) %>
      <div class="form-group">
        <label>File input</label>
        <%= event_form.file_field :image %>
        <p class="help-block">Add a PubMat here</p>
      </div>
      <%= event_form.submit "Upload", class:"btn btn-default" %>
    <% end %>
  </div>
<script>
function eventAttachmentDelete(id, i){
  var slug = "/event/" + id;
  $.post(slug, { img_index: i },
    function(){
      window.location.href=slug
  });
}
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
</script>
