/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 body{
   background-color:#F9F9F9;
 }
 #main {
   width: 95%;
   margin:auto;
 }
 .event-heading {
   //cursor:pointer;
 }
 .media {
   background:white;
   padding:25px;
   border-radius:5px;
 }
 .label-tag{
   color:white;
 }
