<!DOCTYPE html>
<html>
<head>
  <title>CsEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="fb:app_id" content="1489219918029917" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="EventUP<%= (': ' + @og[:title].to_s) unless @og.blank? %>" />
  <meta property="og:image" content="<%= cloudinary_url @og[:image] %>" />
</head>
<body>
<!--<div class="fb-share-button" data-href="http://evup.herokuapp.com/"></div>
<div class="fb-login-button" data-show-faces="false" data-width="300"></div>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"></div>
<p><a onclick='postToFeed(); return false;'>Post to Feed</a></p>-->
<div class="page-header">
  <h1><a href="/" style="color:inherit;text-decoration:none">EventUP</a></h1>
</div>
<div id="main">
  <% last_date = Date.civil(1996) %>
  <form id="event-constraint-form" action="/" method="get">
    <div class="row">
      <div class="col-sm-11">
        <div class="row">
          <div class="col-xs-6 col-md-8">
            <div class="input-group">
              <input name="search" type="text" id="event-constraint-search" class="form-control" value="<%= @active[:search] if !@active[:search].blank? %>">
                <span class="input-group-addon"><i id="event-constraint-search-button" class="glyphicon glyphicon-search" style="cursor:pointer"></i>
              </span>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="input-group date">
              <input name="date" type="text" class="form-control" value="<%= @active[:date].strftime('%m/%d/%Y') if !@active[:date].blank? %>">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-8">
            <select id="select" name="calendar" class="form-control" onchange="submitEventConstraint()">
              <option value="">Calendar</option>
              <% Calendar.all.each do |c| %>
                <option value="<%= c.id %>" <%= 'selected="selected"' if @active[:calendar] == c %>><%= c.name %></option>
              <% end %>
            </select>
          </div>
          <div class="col-xs-6 col-md-4">
            <select id="select" name="tag" class="form-control" onchange="submitEventConstraint()">
              <option value="">Tag</option>
              <% Tag.all.each do |t| %>
                <option value="<%= t.id %>" <%= 'selected="selected"' if @active[:tag] == t %>><%= t.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        <a href="/"><small>Show All Events</small></a>
      </div>
    </div>
  </form>
  <%= yield %>
</div>

<script>
  $('.collapse').collapse();
  $('.input-group.date')
    .datepicker({todayHighlight: true})
    .on('changeDate', function(e){
      submitEventConstraint();
    });
  $('#event-constraint-search').keyup(function(e){
    if(e.keyCode==13){
      submitEventConstraint();
    }
  });
  $('#event-constraint-search-button').click(function(){
    submitEventConstraint();
  })
  function submitEventConstraint(){
    $('#event-constraint-form').submit();
  }
  window.fbAsyncInit = function() {
    FB.init({
      //appId : '1489220221363220',
      appId      : '1489219918029917',
      xfbml      : true,
      version    : 'v2.1'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function postToFeed(i) {
    FB.ui(
    {
      method: 'share',
      href: 'http://evup.herokuapp.com/event/'+i,
    }, function(response){});
  }
</script>
</body>
</html>
